name: Multi-job deployment
on: [push]
jobs:
  initialize:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v5
  dependency:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: npm ci
  lint:
    runs-on: ubuntu-latest
    steps:
      - run: npm run lint
  build:
    runs-on: ubuntu-latest
    steps:
      - run: npm run build
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying the app in ${{ runner.name }}"